@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-header {
    @apply bg-gray-100 border-2 border-gray-200 px-4 py-2;
  }

  .table-body {
    @apply border-gray-200 px-4 py-2;
  }

  .btn {
    @apply bg-primary border-secondary border-2 rounded-full font-bold py-2 px-4 hover:bg-secondary hover:border-primary hover:text-text
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E1FFEE;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A5F1E9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7FBCD2;
}